<th:block th:fragment="page-header">
	<div class="row"
		style="margin-left: 20px; margin-bottom: 30px; margin-top: 11px; margin-right: 20px;">
		<div class="col-lg-9">
			<div class="input-group">
				<h2>Springboot Blog</h2>
			</div>
		</div>
		<div class="col-lg-3">
			<div class="input-group">
				<input type="text" placeholder="Search for..."> </input> <span
					class="input-group-btn">
					<button type="button" class="btn btn-primary">Search</button>
				</span>
			</div>
		</div>
	</div>
</th:block>