main,aside {
    padding: 50px 0 100px
}

.blog-post {
    padding-left: 0;
    padding-right: 0
}

.blog-post .post-footer {
    font-size: 0.8em
}

.blog-post .post-thumbnail img {
    width: 100%;
    margin-bottom: 10px
}

.blog-post h1 {
    color: #444;
    line-height: 1.1em
}

.blog-post h1:hover {
    color: #444
}

.blog-post .post-footer {
    margin-top: 20px
}

.blog-post .post-body {
    margin-top: 40px
}

.blog-post .post-body h2,.blog-post .post-body h3,.blog-post .post-body h4,.blog-post .post-body h5,.blog-post .post-body h6 {
    color: #333
}

.blog-post .post-body p {
    margin-bottom: 30px
}

.blog-post .post-body p:not(.lead) {
    font-size: 1em;
    line-height: 1.7em;
    color: #555
}

.blog-post .posts-nav {
    margin-top: 50px;
    color: #777;
    font-size: 0.8em
}

.blog-post .posts-nav a {
    color: inherit;
    width: calc(50% - 10px);
    padding: 10px 20px;
    border: 1px solid #eee;
    margin-bottom: 15px
}

.blog-post .posts-nav a:hover {
    border-color: #999
}

.blog-post .posts-nav a:hover .icon {
    background: #999;
    color: #fff;
    border-color: #999
}

.blog-post .icon {
    min-width: 35px;
    max-width: 35px;
    height: 35px;
    border-radius: 50%;
    line-height: 32px;
    border: 1px solid #ddd;
    color: #aaa;
    font-size: 1.5em;
    text-align: center;
    -webkit-transition: all 0.2s;
    transition: all 0.2s
}

.blog-post .icon.prev {
    margin-right: 20px
}

.blog-post .icon.next {
    margin-left: 20px
}

.blog-post .post-comments {
    margin-top: 50px
}